* {
    box-sizing:border-box;
    margin: 0;
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(to left bottom, #fcf4b8, #ffffff);
}

nav {
    position: absolute;
    top: 1em;
    right: 1em;
}

nav>span {
    cursor: default;
}

nav>a {
    text-decoration: none;
    color: black;
    transition: color 0.1s ease-in-out;
}

nav>a:hover {
    color: blue;
    transition: color 0.1s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
}

form>input {
    margin-top: 0.2rem;

}

.blue-white {
    background-color: #3d86fc;
    color: white;
    padding: 0.2rem;
    border: 0.5px solid black;
    transition: background-color 0.1s ease-in-out;
}

.blue-white:hover {
    background-color: #2d6ccf;
    transition: background-color 0.1s ease-in-out;
}

button {
    margin-top: 1em;
}